*.pyc
*.jpg
*.vec
Code/.idea/
*.lst
Tools/opencv_cascade_creator/Cascade Creator/bg.txt
Tools/opencv_cascade_creator/photo_dowloader/bg.txt
Tools/opencv_cascade_creator/photo_dowloader/negatives.txt
Tools/opencv_cascade_creator/photo_dowloader/logs/download_log.txt
Tools/opencv_cascade_creator/random_neg_rename/bg.txt
Tools/opencv_cascade_creator/random_neg_rename/neg/bg.txt
*.pb
*.avi
