*.pyc
Code/spider_control/play_spider.py
Code/opencv_cascade_creator/photo_dowloader/neg/
Code/opencv_cascade_creator/photo_dowloader/bg.txt
Code/opencv_cascade_creator/photo_dowloader/negatives.txt
Code/opencv_cascade_creator/photo_dowloader/logs/download_log.txt
Code/opencv_cascade_creator/C++/
Code/opencv_cascade_creator/label_maker/info/
Code/opencv_cascade_creator/label_maker/info.lst
Code/opencv_cascade_creator/label_maker/raw_pos.txt
*.jpg
Code/.idea/
Code/opencv_cascade_creator/C++/bg.txt
*.vec
*.lst
